*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #081b31;
    color: white;
    height: 5 rem;
    line-height: 5rem;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    cursor: pointer;
    background-color: black;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 45%;
}

.choices{
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 3rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 10px;
    margin-top: 5 rem;
    gap: 5rem;

}

#user-score,#comp-score{
    font-size: 5rem;
}

.msg-container{
    margin-top: 5rem;
}

#msg{
    background-color: black;
    color: white;
    border-radius: 1rem;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
}
